.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider {
  width: 65%;
}

.slider-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.slider-name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #8B5CF6;
}

.slider-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.slider-quote {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #64748B;
}

.slider-icon {
  font-size: 48px;
  color: #8B5CF6;
}


